<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Formulario Presupuesto de Compra</title>

    <link href="/resources/vendor/fontawesome-free/css/all.min.css"
          rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <link href="/resources/css/sb-admin-2.min.css" rel="stylesheet">
<body id="page-top">

    <div id="wrapper">

        <ul
                class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
                id="accordionSidebar">

            <a
                    class="sidebar-brand d-flex align-items-center justify-content-center"
                    href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">
                    SB Admin <sup>2</sup>
                </div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item"><a class="nav-link" href="/"> <i
                    class="fas fa-fw fa-tachometer-alt"></i> <span>Principal</span></a></li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">Seguridad</div>

            <li class="nav-item"><a class="nav-link" href="/usuarios"> <i
                    class="fas fa-user "></i> <span>Usuarios</span>
            </a></li>

            <li class="nav-item"><a class="nav-link" href="/roles"> <i
                    class="fas fa-address-book"></i> <span>Roles</span>
            </a></li>

            <li class="nav-item"><a class="nav-link" href="/sucursales">
                    <i class="fas fa-home"></i> <span>Sucursales</span>
            </a></li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">Referenciales</div>

            <li class="nav-item"><a class="nav-link collapsed" href="#"
                                    data-toggle="collapse" data-target="#collapsePages"
                                    aria-expanded="true" aria-controls="collapsePages"> <i
                    class="fas fa-fw fa-folder"></i> <span>Mantenedores</span>
            </a>
                <div id="collapsePages" class="collapse"
                     aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Geogr&aacute;ficos:</h6>
                        <a class="collapse-item" href="/ciudad">Ciudad</a>
                        <a class="collapse-item" href="/paises">Pa&iacute;ses</a>
                        <a class="collapse-item" href="/barrios">Barrios</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Personas:</h6>
                        <a class="collapse-item" href="/empleados">Empleados</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Compras:</h6>
                        <a class="collapse-item" href="/marcas">Marcas</a>
                        <a class="collapse-item" href="/tiposimpuesto">Tipo de Impuesto</a>
                        <a class="collapse-item" href="/proveedores">Proveedores</a>
                        <a class="collapse-item" href="/mercaderias">Mercader&iacute;as</a>

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Facturaci&oacute;n:</h6>
                        <a class="collapse-item" href="#">Clientes</a>
                        <a class="collapse-item" href="#">Condici&oacute;n de Pago</a>
                        <a class="collapse-item" href="/bancos">Bancos</a>
                        <a class="collapse-item" href="/timbrados">Timbrado</a>
                        <a class="collapse-item" href="/cajas">Caja</a>
                    </div>
                </div></li>

            <hr class="sidebar-divider">

            <li class="nav-item active"><a class="nav-link collapsed" href="#"
                                    data-toggle="collapse" data-target="#collapsePages1"
                                    aria-expanded="true" aria-controls="collapsePages"> <i
                    class="fas fa-fw fa-folder"></i> <span>Compras</span>
            </a>
                <div id="collapsePages1" class="collapse show"
                     aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/pedidos-compras">Pedido Compras</a>
                        <a class="collapse-item active" href="/presupuestosompra/form">Presupuesto</a>
                        <a class="collapse-item" href="#">Orden de Compra</a>
                    </div>
                </div></li>
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav
                        class="navbar navbar-expand navbar-light bg-white topbar mb-4 resources-top shadow">

                    <button id="sidebarToggleTop"
                            class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow"><a
                                class="nav-link dropdown-toggle" href="#" id="userDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <span
                                class="mr-2 d-lg-inline text-gray-600 small"
                                sec:authentication="name"></span> <img
                                class="img-profile rounded-circle"
                                src="/resources/img/undraw_profile.svg">
                        </a> <div
                                    class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/logout"> <i
                                        class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div></li>

                    </ul>

                </nav>
                <div class="container-fluid">

                    <div
                            class="d-sm-flex align-items-center justify-content-between mb-4">
                        <div class="container mt-5">
                            <h1
                                    th:text="${presupuestoCompra.idPresupuestoCompra == null ? 'Nuevo Presupuesto de Compra' : 'Editar Presupuesto de Compra'}"></h1>
                            <form th:action="@{/presupuestoscompra/guardar}" method="post" th:object="${presupuestoCompra}">
                                <input type="hidden" id="idPresupuestoCompra" name="idPresupuestoCompra" th:field="*{idPresupuestoCompra}">

                                <div class="form-group">
                                    <label for="idPedidoCompra">Pedido de Compra</label>
                                    <select id="idPedidoCompra" name="idPedidoCompra" class="form-control" th:field="*{idPedidoCompra}" required>
                                        <option value="">Seleccionar Pedido de Compra</option>
                                        <option th:each="pedido : ${pedidosCompra}" th:value="${pedido.idPedidoCompra}" th:text="${pedido.idPedidoCompra}"></option>
                                    </select>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('idPedidoCompra')}" th:errors="*{idPedidoCompra}"></small>
                                </div>

                                <div class="form-group">
                                    <label for="idProveedor">Proveedor (Opcional)</label>
                                    <select id="idProveedor" name="idProveedor" class="form-control" th:field="*{idProveedor}">
                                        <option value="">Seleccionar Proveedor</option>
                                        <option th:each="proveedor : ${proveedores}" th:value="${proveedor.idProveedor}" th:text="${proveedor.razonSocial}"></option>
                                    </select>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('idProveedor')}" th:errors="*{idProveedor}"></small>
                                </div>

                                <div class="form-group">
                                    <label for="idEmpleado">Empleado (Opcional)</label>
                                    <select id="idEmpleado" name="idEmpleado" class="form-control" th:field="*{idEmpleado}">
                                        <option value="">Seleccionar Empleado</option>
                                        <option th:each="empleado : ${empleados}" th:value="${empleado.idEmpleado}" th:text="${empleado.nombres} + ' ' + ${empleado.apellidos}"></option>
                                    </select>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('idEmpleado')}" th:errors="*{idEmpleado}"></small>
                                </div>

                                <div class="form-group">
                                    <label for="idSucursal">Sucursal (Opcional)</label>
                                    <select id="idSucursal" name="idSucursal" class="form-control" th:field="*{idSucursal}">
                                        <option value="">Seleccionar Sucursal</option>
                                        <option th:each="sucursal : ${sucursales}" th:value="${sucursal.idSucursal}" th:text="${sucursal.descripcion}"></option>
                                    </select>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('idSucursal')}" th:errors="*{idSucursal}"></small>
                                </div>

                                <div class="form-group">
                                    <label for="observacion">Observación (Opcional)</label>
                                    <input type="text" id="observacion" name="observacion" class="form-control" th:field="*{observacion}">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('observacion')}" th:errors="*{observacion}"></small>
                                </div>

                                <div class="form-group">
                                    <label for="fecha">Fecha (Opcional)</label>
                                    <input type="date" id="fecha" name="fecha" class="form-control" th:field="*{fecha}">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></small>
                                </div>

                                <div class="form-group">
                                    <label for="estado">Estado (Opcional)</label>
                                    <select id="estado" name="estado" class="form-control" th:field="*{estado}">
                                        <option value="">Seleccionar Estado</option>
                                        <option value="P">Pendiente</option>
                                        <option value="A">Aprobado</option>
                                        <option value="R">Rechazado</option>
                                    </select>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></small>
                                </div>

                                <div class="form-group">
                                    <label for="idCondicion">Condición de Pago (Opcional)</label>
                                    <select id="idCondicion" name="idCondicion" class="form-control" th:field="*{idCondicion}">
                                        <option value="">Seleccionar Condición de Pago</option>
                                        <option th:each="condicion : ${condiciones}" th:value="${condicion.idCondicion}" th:text="${condicion.descripcion}"></option>
                                    </select>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('idCondicion')}" th:errors="*{idCondicion}"></small>
                                </div>

                                <button type="submit" class="btn btn-success">Guardar</button>
                                <a href="/presupuestos-compras" class="btn btn-secondary">Cancelar</a>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            </div>
        </div>
    <a class="scroll-to-top rounded" href="#page-top"> <i
            class="fas fa-angle-up"></i>
    </a>


    <script src="/resources/vendor/jquery/jquery.min.js"></script>
    <script src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/resources/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="/resources/js/sb-admin-2.min.js"></script>

</body>

</html>